*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid #1a1a1a;
  background-color: rgba(40,40,40,0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  z-index: 99999999999;
  width: 100%;
}

.navbar ul {
  display: flex;
  margin-right: 10rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar ul li {
  list-style: none;
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  position: relative;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 9rem;
  margin-bottom: 13rem;
  z-index: 9999;
  width: 100%;
}

.AboutSection img{
height: 60px;
width: auto;
}

.AboutSection > div {
  display: inline-flex;
  flex-direction: column;
width: 40%;
margin: 0;
justify-content: space-evenly;
height: 100%;
flex-wrap: wrap;
}

.AboutSection {
  display:block;
}

.AboutInternal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 10%;
}

.flexcolumn > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 160px;
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#1a1a1a, #1a1a1a),radial-gradient(circle at top left, #51a2e9, #ff4d5a);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    flex-shrink: 0;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#me {
  width: 240px;
  height: 367px;
}

.flexwrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills {
display: flex;
justify-content: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}